{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo" height="30" class="d-inline-block align-text-top me-2">
            Məktəb İdarəetmə
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle me-1"></i>
                        {{ user.get_full_name|default:user.username }}
                        {% if user.user_type == 'school' %}
                            ({{ user.managed_school.name }})
                        {% elif user.user_type == 'sector' %}
                            ({{ user.managed_sector.name }})
                        {% elif user.user_type == 'region' %}
                            ({{ user.managed_region.name }})
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}">
                                <i class="fas fa-id-card me-2"></i>Profil
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt me-2"></i>Çıxış
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> 